/* ==========================================================================
   Variable: Shadow
   ========================================================================== */

$shadow: (
	s16: 0px 4px 16px rgba(54, 113, 233, 0.1),
	s20: 0px 20px 200px rgba(57, 23, 119, 0.05),
	s40: 0px 40px 40px rgba(57, 23, 119, 0.03),
	s80: 0px 80px 40px rgba(57, 23, 119, 1),
);
