@import "core/styles/_assets.scss";

.crappo {
	padding: 60px 0;
	overflow: hidden;
	background-color: color(primary);
	@include bg-img("bg/crappo-bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	@include large {
		padding: 56px 0;
	}
	@include medium {
		padding: 48px 0;
	}
	@include small {
		padding: 40px 0;
	}
	@include x-small {
		padding: 32px 0;
	}
}
.inner {
	display: table;
	@include small {
		display: block;
	}
}
.img {
	display: table-cell;
	vertical-align: middle;
	padding-right: 152px;
	@include large {
		padding-right: 120px;
	}
	@include medium {
		padding-right: 48px;
	}
	@include small {
		display: block;
		padding-right: 0;
		margin-bottom: 24px;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}
.text {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	@include medium {
		width: 50%;
	}
	@include small {
		display: block;
		width: 100%;
	}
}
.title {
	@include font-size(h2);
	font-weight: fw(bold);
	margin-bottom: 24px;
	@include large {
		@include font-size(h3);
	}
	@include medium {
		@include font-size(h3m);
		margin-bottom: 16px;
	}
}
.desc {
	max-width: 400px;
	@include font-size(h6);
	font-weight: fw(regular);
	color: color(grey, 3);
	margin-bottom: 32px;
	@include medium {
		margin-bottom: 24px;
	}
	@include small {
		max-width: initial;
	}
}
