@import "core/styles/_assets.scss";

.crypto {
	padding: 60px 0;
	background: color(gradient, 1);
	text-align: center;
	overflow: hidden;
	@include large {
		padding: 56px 0;
	}
	@include medium {
		padding: 48px 0 0;
	}
	@include small {
		padding-top: 40px;
	}
	@include x-small {
		padding-top: 32px;
	}
}
.title {
	@include font-size(h2);
	color: color(primary);
	margin-bottom: 64px;
	@include medium {
		@include font-size(h3);
		margin-bottom: 24px;
	}
	@include small {
		@include font-size(h3m);
		margin-bottom: 8px;
	}
}
.list {
	margin-left: -24px;
	margin-right: -24px;
	@include clearfix;
	@include large {
		margin-left: -16px;
		margin-right: -16px;
	}
	@include medium {
		margin-left: -32px;
		margin-right: -32px;
		padding-left: 32px;
		@include scroll(x, touch, hide);
		font-size: 0;
	}
	@include small {
		margin-left: -24px;
		margin-right: -24px;
		padding-left: 24px;
	}
	@include x-small {
		margin-left: -16px;
		margin-right: -16px;
		padding-left: 16px;
	}
}
.item {
	float: left;
	width: 33.3333%;
	padding: 0 24px;
	@include large {
		padding: 0 16px;
	}
	@include medium {
		float: none;
		display: inline-block;
		vertical-align: top;
		width: 340px;
		padding: 24px 0 48px;
		white-space: normal;
		margin-right: 24px;
		&:last-child {
			margin-right: 32px;
			@include medium {
				margin-right: 24px;
			}
			@include x-small {
				margin-right: 16px;
			}
		}
	}
	@include small {
		width: 280px;
		padding-bottom: 40px;
	}
	@include x-small {
		padding-bottom: 32px;
	}
}
