@import "core/styles/_assets.scss";

.header {
	$h: &;
	position: fixed;
	top: 0;
	left: 0;
	z-index: zi(header);
	width: 100%;
	padding: 48px 0;
	background-color: color(primary);
	transition: all 0.4s ease;
	@include large {
		padding: 32px 0;
	}
	@include medium {
		padding: 16px 0;
	}
	@include small {
		padding: 12px 0;
	}
	:global(.scroll-down) & {
		transform: translateY(-100%);
		box-shadow: none;
	}
	:global(.header-on-scroll) & {
		padding: 24px 0;
		@include shadow(16);
		@include medium {
			padding: 16px 0;
		}
		@include small {
			padding: 12px 0;
		}
	}
}
.logo {
	float: left;
	height: 48px;
	margin-right: 120px;
	@include medium {
		height: 40px;
		margin-right: 24px;
	}
	&Link {
		display: inline-block;
	}
	&Img {
		height: 40px;
		margin: 4px 0;
		display: block;
		transition: all 0.3s ease;
		@include medium {
			margin: 0;
		}
		@include small {
			height: 32px;
			margin: 4px 0;
		}
	}
}
.inner {
	position: relative;
	@include clearfix;
	&::before {
		@include medium {
			content: "";
			display: block;
			width: 420px;
			height: 100vh;
			position: fixed;
			top: 72px;
			right: 0;
			bottom: 0;
			z-index: zi(header-bg-before);
			background-color: color(primary);
			transform: scaleX(0);
			transform-origin: center right;
			transition: all 0.5s ease;
			transition-delay: 0.35s;
			:global(.show-menu) & {
				transform: scaleX(1);
				transition-delay: 0.2s;
			}
		}
		@include small {
			top: 64px;
		}
	}
	&::after {
		@include medium {
			content: "";
			position: fixed;
			z-index: zi(header-bg);
			top: 72px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: color(overlay);
			opacity: 0;
			visibility: hidden;
			transition: all 0.35s ease;
			transition-delay: 0.75s;
			:global(.show-menu) & {
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
			}
		}
		@include small {
			top: 64px;
		}
	}
}
.nav {
	float: right;
	@include clearfix;
}
.menu {
	float: left;
	@include medium {
		float: none;
		@include scroll("y", "touch", "show");
		position: fixed;
		top: 72px;
		right: 0;
		bottom: 0;
		z-index: zi(header-menu);
		display: block;
		width: 420px;
		padding: 28px 24px;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease;
		transform: translateX(16px);
		:global(.show-menu) & {
			opacity: 1;
			visibility: visible;
			transition-delay: 0.55s;
			transform: translateX(0);
		}
	}
	@include small {
		top: 64px;
		width: 100%;
	}
}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
	@include clearfix;
}
.item {
	float: left;
	margin-right: 32px;
	@include medium {
		float: none;
		margin-right: 0;
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	// &:last-child {
	// 	margin-right: 0;
	// 	margin-left: 32px;
	// 	padding-right: 24px;
	// 	border-right: solid 1px color(grey, 4);
	// 	font-weight: fw(medium);
	// 	@include medium {
	// 		margin: 0;
	// 		padding-right: 0;
	// 		border-right: 0;
	// 		font-weight: fw(regular);
	// 	}
	// }
}
.link {
	display: block;
	color: color(white);
	@include font-size(h6);
	font-weight: fw(regular);
	text-decoration: none;
	padding: 12px 0;
	transition: all 0.2s ease;
	&:hover {
		color: color(accent);
	}
	@include medium {
		@include font-size(h5);
		position: relative;
		display: block;
		padding: 4px 8px;
	}
}
.active {
	font-weight: fw(medium);
	color: color(accent);
	@include medium {
		color: color(white);
		padding-left: 40px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 8px;
			width: 20px;
			height: 2px;
			border-radius: 4px;
			background-color: color(white);
		}
	}
}
.auth {
	float: right;
	display: flex;
	margin-left: 32px;
	@include medium {
		float: left;
		margin-left: 0;
		margin-right: 12px;
	}
	&Item {
		position: relative;
		padding-right: 24px;
		margin-right: 24px;
		@include medium {
			display: none;
		}
		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 24px;
			background-color: color(grey, 4);
			@include medium {
				content: none;
			}
		}
		&:first-child {
			a {
				background-color: transparent;
				padding: 11px 0;
				min-width: auto;
				&:hover {
					border-color: transparent;
				}
			}
		}
		&:last-child {
			border-right: 0;
			padding-right: 0;
			margin-right: 0;
			@include medium {
				display: block;
			}
			&::before {
				content: none;
			}
			a {
				padding: 11px 32px;
				@include medium {
					position: relative;
					min-width: auto;
					padding: 0;
					border-radius: 50%;
					width: 40px;
					height: 40px;
					margin-left: 0;
					background-color: color(accent);
					span {
						display: none;
					}
					&::before {
						content: "\e903";
						font-family: "Crappo";
						@include font-size(h4);
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
}
.burgerMenu {
	display: none;
	@include medium {
		display: block;
		float: right;
		position: relative;
		border: 0;
		outline: 0;
		z-index: zi(burger-menu);
		width: 40px;
		height: 40px;
		padding: 12px 10px;
		font-size: 0;
		line-height: 1;
		text-align: center;
		cursor: pointer;
		border-radius: 50%;
		background-color: color(secondary);
		@include remove-tap-highlight;
	}
	&Bar {
		width: 18px;
		height: 2px;
		display: inline-block;
		margin-bottom: 4px;
		background-color: color(white);
		border-radius: 1px;
		transform: rotate(0deg);
		transform-origin: center center;
		transition: all 0.25s ease-in-out;
		transition-delay: 0.4s;
		&:nth-child(3) {
			margin-bottom: 0;
		}
		:global(.show-menu) & {
			background-color: color(white);
			transition-delay: 0.25s;
			&:nth-child(1) {
				transform: translate(0px, 7px) rotate(135deg);
			}
			&:nth-child(2) {
				opacity: 0;
				transform: translateX(-8px);
				transition-delay: 0.1s;
			}
			&:nth-child(3) {
				transform: translate(0, -5px) rotate(-136deg);
			}
		}
	}
}
